{% extends 'base.html' %}
{% load static %}
{% block loginsignblock %}
    {% if 'sessionuser_id' in request.session %}
    <a class="navbar-brand" href="/account/logout/">Logout</a>
    {% endif %}
{% endblock %}
{% block todoshome %}
<div class="container">
<div class="mainbox">
<h1>About Us</h1>
<p>We are providing entertainment solution by providing edge cutting social media software. You and your friends keep interact with our social media.
Your will find below our popular apps. </p>
</div>
<div>
<h5><a href="/">Lets Dare</a></h5>
<p>Know about your friend. One can ask answers of some set of questions (predefined questions) from their 
friends while playing this game where friends are far apart to each other</p>
<h6><a href="/dareyou/">DareYou</a></h6>
<p>Creator can create quiz of some set of questions and share this quiz to their friends. 
His friend answer the questions in form and then take screenshots of that page and share to creator through other social media.</p>
<h6><a href="/cnfbx/">ConfessionBox</a></h6>
<p>Creator can create confession box (quiz which is renamed) of some set of questions and share this confession box link to their friends. 
His friend answer the questions in form and submit. Creator can see answers of confession box whoever played this confession box in same browser until browser cookies clear.
Creator can see all his created confession boxes. Player who answered the confession box, can see his replied answer of all played confession boxes.
User can create and play confession box in same session.</p>
<h5><a href="/contact_us/">Give Your Feedback</a></h5>
</div>
</div>
{% endblock %}