{% extends 'base.html' %}
{% load static %}
{% block loginsignblock %}
    {% if 'sessionuser_id' in request.session %}
    <a class="navbar-brand" href="/account/logout/">Logout</a>
    {% endif %}
{% endblock %}
{% block todoshome %}
<div class="container">
<div class="mainbox">
<h1>Contact Us</h1>
</div>
<div>
<h5>Report</h5>
<p>We are passionate to our work. But still you want to report any bugs, issues, any queries or questions related to our site, privacy policy, advertisements, etc., you may contact us via {{contact_email}}.
<h5>Feedback</h5>
<p>You can also give feedback on same email.</p>
<h5>Social</h5>
<p>Connect with us through our social media profiles.
Like and Follow us on Facebook - {{contact_fb}}
Follow Us on Instagram - {{contact_insta}}</p>
</div>
</div>
{% endblock %}